/* Light mode colors */
:root {
    color-scheme: light dark;
  
    /* Background */
    --background: #F2F2F7;
    --elevated1: #FFFFFF;
    --elevated2: #FFFFFF;
  
    /* Text */
    --primary: #000000;
    --secondary: #3C3C4399;
    --tertiary: #3C3C434D;
    --quaternary: #3C3C432E;
  
    /* Accent related */
    --accent: #FF9500;
    --onAccent: #FFFFFF;
  
    /* Dividers */
    --divider: #3C3C434A;
  
    /* Hover */
    --hover: #D1D1D6;

    /* Visited links */
    --visited: #AF52DE;
  }
  
  /* Dark mode colors */
  @media (prefers-color-scheme: dark) {
    :root {
      /* Background */
      --background: #1C1C1E;
      --elevated1: #2C2C2E;
      --elevated2: #3C3C3E;
  
      /* Text */
      --primary: #FFFFFF;
      --secondary: #EBEBF599;
      --tertiary: #EBEBF54D;
      --quaternary: #EBEBF52E;
  
      /* Accent related */
      --accent: #FF9F0A;
      --onAccent: #FFFFFF;
  
      /* Dividers */
      --divider: #54545899;
  
      /* Hover */
      --hover: #3A3A3C;

      /* Visited links */
      --visited: #BF5AF2;
    }
  }