/* Light mode colors */
:root {
  color-scheme: light dark;

  /* Background */
  --background: #F2F2F7;
  --elevated1: #FFFFFF;
  --elevated2: #FFFFFF;

  /* Text */
  --primary: #000000;
  --secondary: #3C3C4399;
  --tertiary: #3C3C434D;
  --quaternary: #3C3C432E;

  /* Accent related */
  --accent: #007AFF;
  --onAccent: #FFFFFF;

  /* Dividers */
  --divider: #3C3C434A;

  /* Hover */
  --hover: #D1D1D6;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    /* Background */
    --background: #1C1C1E;
    --elevated1: #2C2C2E;
    --elevated2: #3C3C3E;

    /* Text */
    --primary: #FFFFFF;
    --secondary: #EBEBF599;
    --tertiary: #EBEBF54D;
    --quaternary: #EBEBF52E;

    /* Accent related */
    --accent: #0A84FF;
    --onAccent: #FFFFFF;

    /* Dividers */
    --divider: #54545899;

    /* Hover */
    --hover: #3A3A3C;
  }
}

/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
  color: var(--primary);
}

/* Heading 1 */
h1 {
  font-size: xx-large;
  margin-top: 5px;
}

/* Heading 2 */
h2 {
  font-size: x-large;
  margin-top: 25px;
}

/* Paragraphs */
p {
  max-width: 75%;
  color: var(--primary);
}

/* For mobile screens, fill the area */
@media only screen and (max-width: 700px) {
   p {
      max-width: 100%;
   }
}

/* Horizontal stack container */
.horizontal-stack {
  overflow: auto;
  white-space: nowrap;
}

/* Horizontal stack items */
.horizontal-stack a {
  max-width: 192px;
  height: auto;
  overflow: auto;
  display: inline-block;
  padding-inline-end: 10px;
}

/* Images */
img {
  width: 100%;
  height: auto;
  background-color: var(--elevated1);
  border: 1px solid var(--quaternary);
  border-radius: 8px;
}

/* Captions */
figcaption {
  padding-left: 8px;
  color: var(--secondary);
  font-size: smaller;
}

/* Dividers */
hr.divider {
  border: 1px solid var(--divider);
}

/* Buttons */
button {
  background-color: var(--elevated1);
  color: var(--accent);
}

/* Change color on hover */
button:hover {
  background-color: var(--hover);
}
