/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors) */
body {
  margin: 25px;
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  font-weight: normal;
  color: var(--primary);
}

/* Horizontal stack container (never wrap) */
.hstack-nw {
  min-width: 100%;
  display: flex;
  overflow-x: auto;
}

/* Horizontal stack item */
.hstack-nw-item {
  margin-inline-end: 12px;
  min-width: 192px;
}

/* Horizontal stack container (wrap on small screens) */
.hstack-wrap {
  min-width: 100%;
  display: flex;
  overflow-x: auto;
}

/* Horizontal stack item */
.hstack-wrap-item {
  min-width: 192px;
  height: auto;
}

/* Change image properties in horizontal stacks */
.hstack-nw img {
  width: 190px;
  height: 190px;
}

.hstack-wrap img {
  width: 190px;
  height: auto;
}

/* Heading 1 */
h1 {
  font-size: xx-large;
  margin-top: 5px;
}

/* Heading 2 */
h2 {
  font-size: x-large;
  margin-top: 25px;
}

/* Heading 3 */
h3 {
  font-size: large;
  margin-top: 25px;
}

/* Links */
a {
  color: var(--accent);
  text-decoration: none;
}

/* Paragraphs */
p {
  width: 100%;
  color: var(--primary);
  margin-top: 0px;
}

/* Images */
img {
  width: 100%;
  height: auto;
  background-color: var(--elevated1);
  border-radius: 8px;
  border: 1px solid var(--quaternary);
}

/* Captions */
figcaption {
  padding-left: 8px;
  max-width: 184px;
  color: var(--secondary);
  font-size: small;
}

/* Dividers */
hr.divider {
  border: 1px solid var(--divider);
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Lists */
ul {
  padding-top: 0px;
  list-style-position: inside;
  padding-left: 12px;
}

ol {
  padding-top: 0px;
  list-style-position: inside;
  padding-left: 12px;
}

/* Buttons */
button {
  height: 32px;
  background-color: var(--elevated1);
  margin-left: 0px;
  color: var(--accent);
  border: 2px solid var(--elevated1);
  border-radius: 8px;
}

/* Change color on hover */
button:hover {
  background-color: var(--hover);
  border: 2px solid var(--hover);
}